.nav {
  color: rgb(247, 247, 247);
  text-decoration: none;
  list-style: none;
  padding: 14px 24px;
  font-size: 20px;
  float: right;
}

.logo {
  float: left;
  padding: 14px 24px;
  font-size: 20px;
  color: rgb(247, 247, 247);
  list-style: none;
  text-decoration: none;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .inner {
  }
}
